################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ROGUE_LIKE/.vs/ROGUE_LIKE
